@use "../sass/variables" as *;

.card{
    background-color: $color-button;
    text-align: center;
    width: 270px;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    margin: 5% 8%;
    border: 5px solid $color-background;

}

@media  screen and (min-width:690 ){
    .card{
       
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 25px;
        margin-bottom: 20px;

  
      
        
    
    }

}