@import url('https://fonts.googleapis.com/css2?family=Merienda&family=Neucha&family=Rubik+Distressed&family=Secular+One&display=swap');

*{
    font-family: 'Secular One', sans-serif;
}

$color-primary: rgb(39, 148, 244);
$color-secondary: rgba(57, 60, 228, 0.8);
$color-font:rgb(224, 218, 218);
$color-background:rgba(33, 31, 31, 0.803);
$color-button: rgb(248, 187, 6);

