@use "./sass/variables" as *;

*{
    margin : 0;
    padding : 0;
    box-sizing:border-box;

}
.ticket__heading{
    padding-top:20px ;  
    text-align: center;
}
.app{
    background-image: linear-gradient($color-font,$color-background);
}
